<div class="container mt-4">
  <div *ngIf="editForm.dirty" class="alert alert-info">
    <strong>Information:</strong> You have made changes. Any unsaved changes will be lost!
  </div>
  <form #editForm="ngForm" id="editForm" (ngSubmit)="updateTransaction()">
    <h4>Date</h4>
    <input class="form-control" name="date" [(ngModel)]="transaction.date" />
    <h4>Description</h4>
    <input class="form-control" name="description" [(ngModel)]="transaction.description" />



    <h4>Account to debit</h4>

    <select class="form-control" id="accountDebitId" [(ngModel)]="transaction.accountDebitId" name="accountDebitId">
      <option *ngFor="let account of accounts" [ngValue]="account.id">
        {{account.description}}</option>
    </select>

    <h4>Account to credit</h4>

    <select class="form-control" id="accountCreditId" [(ngModel)]="transaction.accountCreditId" name="accountCreditId">
      <option *ngFor="let account of accounts" [ngValue]="account.id">
        {{account.description}}</option>
    </select>
    <h4>Amount</h4>
    <input class="form-control" name="amount" [(ngModel)]="transaction.amount" />
  </form>
  <div class="card">
    <div class="card-footer">
      <button [disabled]="!editForm.dirty" form="editForm" class="btn btn-success btn-block">Save Changes</button>
    </div>
  </div>
</div>
