
    <div class="row">     
      <div class="col-sm-8">
        <div *ngIf="creationForm.dirty" class="alert alert-info">
          <strong>Information:</strong> You have made changes.  Any unsaved changes will be lost!
        </div>
      </div>
    </div>
    <div class="row">
     
        </div>      
      <div class="col-sm-8">
              <form #creationForm="ngForm" id="creationForm" (ngSubmit)="createAccount()">                  
                  
                  Types <select id="types" class="form-control" ngModel name="types">
                            <option *ngFor = "let type of types" [ngValue]="type">{{type.description}}</option>                
                      </select>          
                  
                  Description<input type="text" class="form-control" name="description" id="description" rows="6" ngModel/>
                  Budget<input type="number" class="form-control" name="budget" id="budget" rows="6" ngModel/>                
              </form>
              <div class="col-sm-4">        
                <button [disabled]="!creationForm.dirty" form="creationForm" class="btn btn-success btn-block">Save Changes</button>
            </div>
          

      </div>
    
  