  <form #creationForm="ngForm" id="creationForm" (change)="changeTransaction()">
      <table class="table table-striped">
          <tr>
            <th>Date</th>
            <th>Account</th>
            <th>Description</th>
            <th>Amount</th>
          </tr>          
          <tr>
            <td><input autofocus name='date' id='date' ngModel type="date"></td>
            <td><select id="account" class="form-control" ngModel name="account">
                <option *ngFor = "let account of accounts" [ngValue]="account">{{account.description}}</option>                
          </select></td>
            <td><input name='description' id='description' ngModel  type="text"></td>
            <td><input name='amount' id='amount' ngModel  type="number"></td>
          </tr>
        </table>
        <app-transactions></app-transactions>
    </form>
