<form #updatePasswordForm="ngForm" (ngSubmit)="updatePassword()">
  <h2 class="text-center text-primary">Update Password</h2>
  <hr>
  <div class="form-group">
    <input type="text" class="form-control" required name="username" [(ngModel)]="model.username"
      placeholder="Username">
  </div>
  <div class="form-group">
    <input type="oldPassword" class="form-control" required name="oldPassword" [(ngModel)]="model.oldPassword"
      placeholder="Old Password">
  </div>
  <div class="form-group">
    <input type="newPassword" class="form-control" required name="newPassword" [(ngModel)]="model.newPassword"
      placeholder="New Password">
  </div>
  <div class="form-group text-center">
    <button class="btn btn-success" type="submit">Update</button>
    <button class="btn btn-default" (click)="cancel()" type="button">Cancel</button>
  </div>
</form>
