<div class="container">  
  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-6">
        <button class="btn btn-default" [routerLink]="['/transactions/create']" routerLinkActive="router-link-active" >
          Create
      </button>
      <div *ngFor="let transaction of transactions">{{transaction.description}} 
        <button class="btn btn-primary" [routerLink]="['/transactions/edit/', transaction.id]" routerLinkActive="router-link-active" >
          Edit
        </button>
      </div>      
    </div>
  </div>
</div>