
<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">        
     <app-transactions-consolidation></app-transactions-consolidation>
    </div>
    <div class="col-sm-8">
        <form #creationForm="ngForm" id="creationForm" (change)="createTransaction()">
          <div>
              <td><select id="controlAccount" class="form-control" ngModel name="controlAccount">
                  <option *ngFor = "let controlAccount of controlAccounts" [ngValue]="controlAccounts">{{controlAccount.description}}</option>                
            </select></td>
          </div>          
            <tabset class="member-tabset">
                <tab heading="Payments" id="payments" name="payments" (select)="selectTab($event)">
                    <app-transaction-create-inputform [accounts]='accounts'></app-transaction-create-inputform>
                </tab>
                <tab heading="Receipts" id="receipts" name="receipts" (select)="selectTab($event)">
                    <app-transaction-create-inputform [accounts]='accounts'></app-transaction-create-inputform>
                  </tab>
              </tabset>              
        </form>        
    </div>
  </div>
</div>